.Welcome {
    text-align:center;
    font-weight: 100;

}

.Welcome_main {
    text-align:center;
    font-family: zFont2, 'zFont2';
}

button > a {
    color:white;
}

button > a:hover {
    color:white;
}

@font-face
{
    font-family:'zFont2';
    src: url('https://code.z01.com/font/zFont2.eot?#iefix'); /* IE9 */
    src: url('https://code.z01.com/font/zFont2.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
    url('https://code.z01.com/font/zFont2.woff') format("woff"), /* chrome、firefox */
    url('https://code.z01.com/font/zFont2.ttf') format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url('https://code.z01.com/font/zFont2.svg#zFont2') format("svg"); /* iOS 4.1- */
    font-style: normal; font-weight: normal;
}
